/* BASED ON https://github.com/kamlendras/waybar-config */

* {
    border: none;
    font-size: 11px;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
}

#workspaces {
    margin: 0 5px;
}

#taskbar button,
#workspaces button {
    background: transparent;
    padding: 0 5px;
    margin: 0 2px;
}

#workspaces button:hover {
    box-shadow: none;
    color: #ffffff;
}

#workspaces button.visible {
    color: rgba(217, 216, 216, 1);
}

#workspaces button.urgent {
    color: rgba(0, 0, 0, 1);
    background: rgba(211, 67, 36, 1);
    border-top: 3px solid rgba(35, 31, 32, 0.8);
}

#clock,
#battery,
#backlight,
#tray,
#wireplumber,
#network,
#bluetooth {
    padding: 0 10px;
    margin: 6px 3px;
    background-color: black;
    color: white;
    border-radius: 3px;
}

#idle_inhibitor {
    padding-left: 3px;
    padding-right: 8px;
    margin: 6px 3px; 
    background-color: black;
    color: white;
    border-radius: 3px;
}

/* Non-black bg, use black letters */
#idle_inhibitor.activated, #battery.charging, #battery.critical:not(.charging), #bluetooth.disabled {
    color: black;
}

/* Red bg, critical situation */
#battery.critical:not(.charging), #bluetooth.disabled {
    background-color: #f52121;
    color: black
}

/* Animations for actions in progress */
#bluetooth.discovering, #battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Darker blue for when it is not connected */
#bluetooth.pairable:not(.connected), #bluetooth.discoverable {
    background-color: #003e7c;
    color: black;
}

/* Lighter blue when it is connected */
#bluetooth.connected, #bluetooth.connected.pairable {
    background-color: #0082fc;
    color: white;
}

#battery.charging {
    background-color: #21f53d;
}

#bluetooth.on {
    color:#0082fc;
}

#idle_inhibitor.activated {
    background-color: white;
}

/* CONDITIONALS */
/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #taskbar {
    margin-left: 0;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}
